<!DOCTYPE html>
<html lang="en">
  <head>
    {{ include('shared.head') }}
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
  </head>

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{{ url('/') }}">{{ site_name }}</a>
      </div>

      <div class="login-box-body">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% block before_foot %}{% endblock %}
    {{ include('shared.foot') }}
  </body>
</html>
