{% extends 'auth.base' %}

{% block title %}{{ trans('auth.login.title') }}{% endblock %}

{% block content %}
  <p class="login-box-msg">{{ trans('auth.login.message') }}</p>
  {% if session_has('msg') %}
    <div class="alert alert-warning">
      {{ session_pull('msg') }}
    </div>
  {% endif %}
  <form></form>
  <br>
  {{ include('auth.oauth') }}
  <div>
    <a href="{{ url('auth/register') }}">{{ trans('auth.register-link') }}</a>
  </div>
{% endblock %}

{% block before_foot %}
  {% if enable_recaptcha %}
    <script src="{{ recaptcha_url }}" async defer></script>
  {% endif %}
  <script>
    Object.defineProperty(blessing, 'extra', {
      configurable: false,
      get: () => Object.freeze({{ extra|json_encode|raw }})
    })
  </script>
{% endblock %}
