{% extends 'auth.base' %}

{% block title %}{{ trans('auth.verify.title') }}{% endblock %}

{% block content %}
  <p class="login-box-msg">
    {{ trans('auth.verify.message', {sitename: site_name}) }}
  </p>
  <div class="alert alert-success mb-5">
    <i class="icon fa fa-check"></i> {{ trans('auth.verify.success') }}
  </div>
  <a href="{{ url('/') }}" class="btn btn-primary btn-block">
    {{ trans('auth.verify.button') }}
  </a>
{% endblock %}
