{% extends 'auth.base' %}

{% block title %}{{ trans('auth.verify.title') }}{% endblock %}

{% block content %}
  <p class="login-box-msg">
    {{ trans('auth.bind.message') }}
  </p>
  <form method="post">
    {{ csrf_field() }}
    <div class="input-group mb-3">
      <input type="email" name="email" class="form-control" placeholder={{ trans('auth.email') }} required>
      <div class="input-group-append">
        <div class="input-group-text">
          <i class="fas fa-envelope"></i>
        </div>
      </div>
    </div>
    {% if errors.any %}
      <div class="alert alert-danger">
        <i class="icon fas fa-exclamation-triangle"></i>
        {{ errors.first }}
      </div>
    {% elseif session_has('errorMessage') %}
      <div class="alert alert-danger">
        <i class="icon fas fa-exclamation-triangle"></i>
        {{ session_pull('errorMessage') }}
      </div>
    {% endif %}
    <button type="submit" class="btn btn-primary btn-block">
      {{ trans('general.submit') }}
    </button>
  </form>
{% endblock %}
