<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex,nofollow">
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    {{ include('assets.spectre', ignore_missing = true) }}
    {% for style in styles %}
      <link rel="stylesheet" href="{{ style }}">
    {% endfor %}
  </head>

  <body class="bg-gray">
    {{ include('errors.languages') }}
    <div class="hero d-flex">
      <div class="hero-body text-center">
        <h1><a class="text-primary" href="{{ url('/') }}">{{ site_name }}</a></h1>
        <div class="divider"></div>
        <h3 style="margin-top: 15vh;">{% block subtitle %}{{ block('title') }}{% endblock %}</h3>
        {% block message %}{% endblock %}
        <div class="divider"></div>
        {% if auth_user().admin %}
          <a class="btn btn-link" href="https://blessing.netlify.com/faq.html" target="_blank">FAQ</a>
        {% endif %}
      </div>
    </div>
    {% for script in scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
  </body>
</html>
