{% extends 'admin.base' %}

{% block title %}{{ trans('general.i18n') }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8"><div id="table"></div></div>
    <div class="col-lg-4">
      <form action="{{ url('/admin/i18n') }}" method="post">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{ trans('admin.i18n.add') }}</h3>
          </div>
          <div class="card-body p-0">
            {% if errors.any %}
              <div class="alert alert-danger m-3">
                <i class="icon fas fa-exclamation-triangle"></i>
                {{ errors.first }}
              </div>
            {% elseif session_pull('success') %}
              <div class="alert alert-success m-3">
                <i class="icon fas fa-check"></i>
                {{ trans('admin.i18n.added') }}
              </div>
            {% endif %}
            {{ csrf_field() }}
            <table class="table">
              <tbody>
                <tr>
                  <td>{{ trans('admin.i18n.group') }}</td>
                  <td>
                    <input type="text" class="form-control" name="group" required>
                  </td>
                </tr>
                <tr>
                  <td>{{ trans('admin.i18n.key') }}</td>
                  <td>
                    <input type="text" class="form-control" name="key" required>
                  </td>
                </tr>
                <tr>
                  <td>{{ trans('admin.i18n.text') }}</td>
                  <td>
                    <input type="text" class="form-control" name="text" required>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <input
              type="submit"
              value="{{ trans('general.submit') }}"
              class="btn btn-primary"
            >
          </div>
        </div>
      </form>
      <div class="callout callout-info">
        <a href="https://blessing.netlify.com/ui-text.html" target="_blank">
          {{ trans('admin.i18n.tip') }}
        </a>
      </div>
    </div>
  </div>
{% endblock %}
