{% extends 'setup.base' %}

{% block subtitle %}{{ trans('setup.wizard.info.title') }}{% endblock %}

{% block content %}
  <p>{{ trans('setup.wizard.info.text') }}</p>
  <form
    id="setup"
    method="post"
    action="{{ url('setup/finish') }}"
    novalidate="novalidate"
  >
    {{ csrf_field() }}
    <table>
      <tr class="form-group">
        <th>
          <label class="form-label" for="email">{{ trans('setup.wizard.info.admin-email') }}</label>
        </th>
        <td>
          <input class="form-input" name="email" type="email" id="email" size="25">
        </td>
      </tr>
      <tr>
        <th></th>
        <td><p><small>{{ trans('setup.wizard.info.admin-notice') }}</small></p></td>
      </tr>
      <tr class="form-group">
        <th>
          <label class="form-label" for="email">{{ trans('setup.wizard.info.nickname') }}</label>
        </th>
        <td>
          <input class="form-input my-2" name="nickname" type="text" id="nickname" size="25">
        </td>
      </tr>
      <tr class="form-group">
        <th>
          <label class="form-label" for="password">{{ trans('setup.wizard.info.password') }}</label>
        </th>
        <td>
          <input class="form-input" type="password" name="password" id="password" class="regular-text">
        </td>
      </tr>
      <tr>
        <th></th>
        <td><p><small>{{ trans('setup.wizard.info.pwd-notice') }}</small></p></td>
      </tr>
      <tr class="form-group">
        <th>
          <label class="form-label" for="password_confirmation">
            {{ trans('setup.wizard.info.confirm-pwd') }}
          </label>
        </th>
        <td>
          <input
            class="form-input my-2"
            type="password"
            name="password_confirmation"
            id="password_confirmation"
          >
        </td>
      </tr>
      <tr class="form-group">
        <th>
          <label class="form-label" for="site_name">
            {{ trans('setup.wizard.info.site-name') }}
          </label>
        </th>
        <td>
          <input
            class="form-input"
            name="site_name"
            type="text"
            id="site_name"
            size="25"
            value="{{ config('options.site_name') }}"
          >
        </td>
      </tr>
      <tr>
        <th></th>
        <td><p><small>{{ trans('setup.wizard.info.site-name-notice') }}</small></p></td>
      </tr>
    </table>

    {% if errors.any %}
      <div class="toast toast-error" role="alert">
        <ul>
          {% for error in errors.all %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <p class="step">
      <input
        type="submit"
        name="submit"
        id="submit"
        class="btn btn-primary"
        value="{{ trans('setup.wizard.info.button') }}"
      >
    </p>
  </form>
{% endblock %}
