<div class="card card-danger">
  <div class="card-header">
    <h3 class="card-title">
      {{ trans('user.profile.delete.title') }}
    </h3>
  </div>
  <div class="card-body">
    {% if user.admin %}
      <p>{{ trans('user.profile.delete.admin') }}</p>
      <button class="btn btn-danger" disabled="disabled">
        {{ trans('user.profile.delete.button') }}
      </button>
    {% else %}
      <p>{{ trans('user.profile.delete.notice', { site: site_name }) }}</p>
      <button
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#modal-delete-account"
      >
        {{ trans('user.profile.delete.button') }}
      </button>
    {% endif %}
  </div>
</div>
