<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex,nofollow">
    <title>{% block title %}{{ trans('setup.wizard.master.title') }}{% endblock %}</title>
    {{ include('assets.spectre', ignore_missing = true) }}
    {% for style in styles %}
      <link rel="stylesheet" href="{{ style }}">
    {% endfor %}
  </head>

  <body class="bg-secondary">
    {{ include('errors.languages') }}
    <div class="hero d-flex">
      <div class="hero-body">
        <h1 class="text-center">
          <a class="text-primary" href="https://github.com/bs-community/blessing-skin-server">
            Blessing Skin Server
          </a>
        </h1>
        <div class="divider"></div>
        <h3>{% block subtitle %}{{ block('title') }}{% endblock %}</h3>
        <div class="divider"></div>
        {% block content %}{% endblock %}
      </div>
    </div>
    {% for script in scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
  </body>
</html>
