<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    {{ include('shared.head') }}
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
  </head>

  <body class="{{ dark_mode ? 'dark-mode' : '' }} hold-transition sidebar-mini">
    <div class="wrapper">
      {{ include('shared.header') }}
      {{ include('shared.sidebar', {scope: 'user'}) }}
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="d-flex justify-content-between flex-wrap">
              <div>
                <h1 class="m-0">{{ block('title') }}</h1>
              </div>
              <div>
                <div class="breadcrumb"></div>
              </div>
            </div>
          </div>
        </div>
        <section class="content">
          <div class="container-fluid">
            {% block content %}{% endblock %}
          </div>
        </section>
      </div>
      <footer class="main-footer">
        {{ include('shared.copyright') }}
      </footer>
    </div>
    {% block before_foot %}{% endblock %}
    {{ include('shared.foot') }}
  </body>
</html>
