{% set repo = 'https://github.com/bs-community/blessing-skin-server' %}

<!-- YOU CAN NOT MODIFIY THE COPYRIGHT TEXT W/O PERMISSION -->
<div id="copyright-text" class="float-right d-none d-sm-inline">
  {% if copyright == 0 %}
    Powered with ❤ by <a href="{{ repo }}">Blessing Skin Server</a>.
  {% elseif copyright == 1 %}
    Powered by <a href="{{ repo }}">Blessing Skin Server</a>.
  {% elseif copyright == 2 %}
    Proudly powered by <a href="{{ repo }}">Blessing Skin Server</a>.
  {% elseif copyright == 3 %}
    由 <a href="{{ repo }}">Blessing Skin Server</a> 强力驱动。
  {% else %}
    自豪地采用 <a href="{{ repo }}">Blessing Skin Server</a>。
  {% endif %}
</div>

{% set rules = {'{site_name}': site_name, '{site_url}': site_url} %}
{{ custom_copyright|replace(rules)|raw }}
