<header class="main-header">
  <!-- Logo -->
  <a href="{{ url('/') }}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"> <i class="fas fa-bookmark"></i> </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">{{ site_name }}</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <i class="fas fa-bars"></i>
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        {{ include('shared.notifications') }}
        {{ include('shared.languages') }}
        {{ include('shared.user-menu') }}
      </ul>
    </div>
  </nav>
</header>
