<li class="nav-item {{ item.classes|join(' ') }}">
  {% if item.children %}
    <a class="nav-link" href="#">
      <i class="nav-icon fas {{ item.icon }}"></i>
      <p>{{ trans(item.title) }}</p>
      <i class="right fas fa-angle-left"></i>
    </a>
    <ul class="nav nav-treeview">
      {% for child in item.children %}
        {{ include('shared.side-menu-item', {item: child}) }}
      {% endfor %}
    </ul>
  {% else %}
    <a
      href="{{ url(item.link) }}"
      class="nav-link"
      {% if attribute(item, 'new-tab') %}
        target="_blank"
        rel="noopener noreferrer"
      {% endif %}
    >
      <i class="nav-icon {{ item.icon == 'fa-circle' ? 'far' : 'fas' }} {{ item.icon }}"></i>
      &nbsp;<p>{{ trans(item.title) }}</p>
    </a>
  {% endif %}
</li>
