<div class="user-panel mt-3 mb-3 {{ badges|length > 0 ? 'pb-2' }}">
  <div class="d-flex">
    <div class="image">
      <img src="{{ avatar }}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a class="d-block">{{ user.nickname ?? user.email }}</a>
    </div>
  </div>

  <div class="mt-3 ml-2 mr-2 d-flex justify-content-between flex-wrap">
    {% for badge in badges %}
      <span class="badge bg-{{ badge[1] }} mb-1">{{ badge[0] }}</span>
    {% endfor %}
  </div>
</div>
