<label for="{{ id }}">
  <input
    type="checkbox"
    {{ value ? 'checked="true"' : '' }}
    id="{{ id }}"
    name="{{ id }}"
    {{ disabled ? 'disabled=disabled' : '' }}
    value="true"
  > {{ label }}
</label>
